*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
}
h2{
    display: block;
}
.tema1{
    align-items: left;
    background-color: #d9d9d9;
    width: 423.44px;
    height: 565px;
    margin: 25px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    box-sizing: content-box;
}
.img1{
    width: 423.44px;
    height: 400px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.par1{
    max-width: 500px;
}
.tema2{
    align-self: center;
    background-color: #d9d9d9;
    width: 423.44px;
    height: 565px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin: 25px;
    box-sizing: content-box;
}
.img2{
    width: 423.44px;
    height: 400px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.par2{
    max-width: 500px;
}
.tema3{
    align-self: right;
    background-color: #d9d9d9;
    width: 423.44px;
    height: 565px;
    margin: 25px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    box-sizing: content-box;
}
.img3{
    width: 423.44px;
    height: 400px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.par3{
    max-width: 500px;
}
audio{
    width: 423.44px;
    height: 45px;
}
.main{
    display: block;
}
body{
    background-image: url(BG.jpg);
    margin: 0%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.button1{
    width: 110px;
    height: 106px;
}
.button2{
    width: 110px;
    height: 106px;
}
.button3{
    width: 110px;
    height: 106px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: right;
    align-items: center;
}
a{
    text-decoration: none;
    color:black;
}
button{
    background: none;
    border: 0ch;
}
.login{
    border: solid blue 3px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    align-self: flex-end;
}
.nav1{
    background-color: rgba(38, 38, 38, 0.7);
    position: sticky;
    top: 0;
    left: 0;
    margin: 0%;
    display: flex;
    width: 100%;
    z-index: 4;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.listado{
    color: white;
}
/*.canciones{
    display: grid
}*/
.lista{
    list-style-image: url(pacman.ico);
    list-style-position: inside;
    margin: auto;
    width: 12%;
    overflow: visible;
}
li:hover{
    list-style-image: url(pacman_hover.ico);
}
.canciones{
    display:grid;
    width: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: space-around;
}
div .tema_linea {
    display: flex;
    background-color: rgba(26,26,26,75%);
    border: solid black;
    border-radius:2px;
    margin:5px 12px 5px 12px;
    align-items: center;
    color: white;
    width: auto;
    justify-content: center;
    flex-direction: column;
}
img .tema_linea {
    height: 45px;
}
p .tema_linea {
    margin: 5px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0%);
}
