* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

h1 {
    text-align: center;
}

h2 {
    display: block;
    text-align: center;
}

.tema {
    background-color: #d9d9d9;
    max-width: 423.44px;
    height: 565px;
    margin: 25px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    box-sizing: content-box;
}

.img {
    width: 423.44px;
    height: 400px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.par {
    max-width: 500px;
}

audio {
    width: 423.44px;
    height: 45px;
}

.main {
    display: block;
}

body {
    background-image: url(media/BG.jpg);
    margin: 0%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.button1 {
    width: 110px;
    height: 106px;
}

.button2 {
    width: 110px;
    height: 106px;
}

.button3 {
    width: 110px;
    height: 106px;
}

.footer {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: rgba(38, 38, 38, 0.7);
    justify-content: center;
    height: 110px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background: none;
    border: 0ch;
}

.login {
    border: solid whitesmoke 0.5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0%);
    color: white;
    align-self: flex-end;
}

a#login {
    padding: 2px;
    color: aquamarine;
}

.nav1 {
    background-color: rgba(38, 38, 38, 0.7);
    position: sticky;
    top: 0;
    left: 0;
    margin: 0%;
    display: flex;
    width: 100%;
    z-index: 4;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.listado {
    color: white;
}

/*.canciones{
    display: grid
}*/
.lista {
    list-style-image: url(media/pacman.ico);
    list-style-position: inside;
    margin: auto;
    width: 12%;
    overflow: visible;
}

.canciones {
    display: grid;
    width: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: space-around;
}

div.tema_linea {
    display: flex;
    background-color: rgba(26, 26, 26, 75%);
    border: solid black;
    border-radius: 2px;
    margin: 5px 12px 5px 12px;
    align-items: center;
    color: white;
    width: auto;
    justify-content: center;
    flex-direction: column;
}

p.tema_linea {
    margin: 5px;
    border: 0px;
    background-color: rgba(0, 0, 0, 65%);
    border: solid black;
}

img.tema_linea {
    height: 350px;
    width: 350px;
    padding: 15px;
}

form {
    display: inline-block;
}

li:hover {
    list-style-image: url(media/pacman_hover.ico)
}

#agradecimientos {
    color: white;
}


@media(max-width:720px) {
    .lista {
        width: fit-content;
    }

    .canciones {
        display: flex;
        flex-direction: column;
        width: 175px;
    }

    img.tema_linea {
        width: 140px;
        height: 140px;
    }

    input {
        width: 130px;
    }

    button {
        display: none;
    }

    input {
        display: none;
    }

    .nav1 {
        width: auto;
        justify-content: normal;
    }

    #logo {
        align-self: flex-start;
        position: fixed;
        top: 0;
        left: 0;
    }

    .listado {
        position: fixed;
        top: 36.78px;
        right: 35px;
    }

    p.tema_linea {
        font-size: small;
    }

    header {
        height: 110px;
    }

    .tema {
        width: 317.58px;
        height: 450px;
    }

    .img {
        width: 317.58px;
        height: 280px;
    }

    img {
        max-width: 317.58px;
        max-height: 280px;
    }

    audio {
        width: 317.58px;
    }
}
.spacing{
    width: 42.67px;
}
